# Server Configuration
PORT=5000
NODE_ENV=development

# Database (Get this from MongoDB Atlas)
MONGO_URI=

# Authentication (Use a long, random string for the secret)
JWT_SECRET=
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30